<footer class="footer bg-inverse">
	<div class="container">
		<span class="text-muted "><p> Nationwise is a fake company registered in England and Wales (No. 01010101). Nationwise is authorised by the Fake Regulation Authority (FRA) and regulation by the Fake Conduct Authority and FRA. Our Fake Service Register number is 000001.</p></span>
	</div>
</footer>
<!-- Bootstrap core JavaScript -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>