{% extends "parent.html" %}
{% block mainContent %}
<section>
  
  <!-- SECTION ONE -->
  <div>
    <div>
      <div>
        <p>The bank of the future</p>
        <p>
          Built for your smartphone, this is banking like never before. One that updates your balance instantly, sends intelligent notifications, and is actually easy to use.
        </p>
        <p>We’re building the best bank on the planet and we want you on board.</p>

      </div>

      <div style="clear: both;"></div>

    </div>
  </div>
  <!-- END SECTION ONE -->
  
  <!-- SECTION TWO -->
  <div>
    <div>
      <div>
        <div>
          <div>
            Monzo isn’t your typical banking app. It’s powerful, fast, and beautiful.
          </div>
          <p>
            Get instant spending notifications, add receipts to your purchases, manage your budget, and more. We don’t charge setup or usage fees, and there are zero charges for spending abroad.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- END SECTION TWO -->

  <!-- SECTION THREE -->
  <div>
    <div>
      <div>Fast and friendly support</div>
      <p>
        Still having to wait on hold for hours to get anything sorted with your bank? Monzo provides world-class support through in-app chat, with an average
        response time of under ten minutes.
      </p>
    </div>
  </div>
  <!-- END SECTION THREE -->
  
  <!-- SECTION FOUR -->
  <div>
    <div>
      <div>
        <div>
          <div>
            We started Monzo because we think that banking should be better
          </div>
          <p>
            In a world where you can use an app on your phone to order food or a taxi, it’s ridiculous that your bank still takes days to update your balance when you make a card payment.
          </p>
          <p>
            We’re building the bank of the future, available&nbsp;now.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- END SECOND FOUR -->

  <!-- SECTION FIVE -->
  <div>
    <div>
      <div>
        <div>
          <div>
            Banking doesn’t have to be old fashioned
          </div>
          <p>
            We’re building our systems from scratch, using the latest technology used by Amazon and Google, so we can give you a real-time balance on you account.
          </p>
          <p>
            Use our API to build apps using your own data, and send us feedback on what features you’d like to see next using our forum.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- END SECTION FIVE -->
  
</section>
{% endblock %}