<nav class="share-nav">
  <a href="https://twitter.com/monzo" target="_blank">
    <img src="/static/images/twitter.svg" alt="Twitter">
  </a>
  <a href="https://www.facebook.com/monzobank" target="_blank">
    <img src="/static/images/facebook.svg" alt="Facebook">
  </a>
  <a href="https://www.linkedin.com/company/monzo-bank" target="_blank">
    <img src="/static/images/linkedin.svg" alt="LinkedIn">
  </a>
  <a href="mailto:hello@nationwise.com" target="_blank">
    <img src="/static/images/mail.svg" alt="Drop us an email">
  </a>
</nav>