<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="Nationwise lets you bank like a boss">
    <title>
    {% if title %}
    {{ title }} 
    {% endif %}
    Nationwise – Banking like a boss
    </title>
    <link rel="stylesheet" href="/CSS/style.css">
    <!-- Open Graph -->
    <!--<meta property="og:type" content="website">
    <meta property="og:title" content="">
    <meta property="og:url" content="https://monzo.com/">
    <meta property="og:description" content="Monzo are building a smart bank on your smartphone and we need your help to create the bank of the future.">
    <meta property="og:image" content="https://monzo.com/static/images/facebook-campaign-image-01.png">
    <meta property="og:locale" content="en_GB"> -->
  </head>
  <body class="md-os-unknownOS anim">
    <!-- HEADER -->
    {% include "header.html" %}
    <!-- END HEADER -->

    <!-- MAIN CONTENT -->
    {% block mainContent %}
    default Content
    {% endblock %}
    <!-- END MAIN CONTENT -->

    <!-- FOOTER -->
    {% include "footer.html" %}
    <!-- END FOOTER -->
  </body>
</html>